<div class="bk">
<div class="container">
<div class="row">
<div class="col-sm">
<h3 style="font-family: 'Oswald', sans-serif; font-size: 40px;" >What we're about</h3>
<p style="font-family: 'Oswald', sans-serif;  font-weight: bold; font-size: 19px;">This is a group for anyone who is an Android or iOS Mobile Developer. All skill levels are welcome. We started this group to meet other mobile 
developers of the community to discuss advancement in technologies for mobile development. Looking forward to explore the world of Applications 
with everyone.</p>


</div>


<div class="col-sm" style="margin-left: 150px;">
    <h4 style="font-family: 'Oswald', sans-serif; ">Organizer</h4>
    <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar> <p style="font-family: arial;font-size: 15px;">Amity Innovation Incubator</p>


  <h4 style="font-family: 'Oswald', sans-serif; padding-top: 10px; padding-bottom: 10px;">Members (944)</h4>
  <div class="row" style="margin-left: 60px;  height: 45%; width: 50%;">
  <ngx-avatar src="assets/avatar1.jpg"></ngx-avatar> &nbsp;&nbsp;

  <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar> &nbsp;&nbsp;
  <ngx-avatar src="assets/avatar3.jpg"></ngx-avatar>&nbsp;&nbsp;
  <ngx-avatar src="assets/avatar4.jpg"></ngx-avatar>&nbsp;&nbsp;
  <ngx-avatar src="assets/avatar5.jpg"></ngx-avatar>&nbsp;&nbsp;
  <ngx-avatar src="assets/avatar6.jpg"></ngx-avatar>&nbsp;&nbsp;
  <ngx-avatar src="assets/avatar1.jpg"></ngx-avatar> &nbsp;&nbsp;

  <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar>

  </div>
<div class="row" style="margin-left: 60px; padding-top: 5px; height: 45%; width: 50%;">
    <ngx-avatar src="assets/avatar1.jpg"></ngx-avatar> &nbsp;&nbsp;
  
    <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar> &nbsp;&nbsp;
    <ngx-avatar src="assets/avatar3.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar4.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar5.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar6.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar3.jpg"></ngx-avatar> &nbsp;&nbsp;

    <ngx-avatar src="assets/avatar1.jpg"></ngx-avatar> &nbsp;&nbsp;

  </div>
  

</div>
</div>
</div>

</div>