<div class="cards">
    <div class="container">
      <div class="row">
          <div class="col-sm">
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Going</a>
                <a href="#" class="card-link">Not going</a>
            </div>
          </div>
          </div>
          <div class="col-sm">
    <div class="card" style="width: 14rem;">
      <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Event 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Going</a>
        <a href="#" class="card-link">Not going</a>
      </div>
    </div>
          </div>
          <div class="col-sm">
    <div class="card" style="width: 14rem;">
      <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Event 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Going</a>
        <a href="#" class="card-link">Not going</a>
        </div>
      </div>
    </div>
    </div>

          <div class="row">
              <div class="col-sm">
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Event 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Going</a>
                    <a href="#" class="card-link">Not going</a>
                </div>
              </div>
              </div>
              <div class="col-sm">
        <div class="card" style="width: 14rem;">
          <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Event 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Going</a>
            <a href="#" class="card-link">Not going</a>
          </div>
        </div>
              </div>
              <div class="col-sm">
        <div class="card" style="width: 14rem;">
          <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Event 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Going</a>
            <a href="#" class="card-link">Not going</a>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm">
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Going</a>
                <a href="#" class="card-link">Not going</a>
            </div>
          </div>
          </div>
          <div class="col-sm">
    <div class="card" style="width: 14rem;">
      <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Event 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Going</a>
        <a href="#" class="card-link">Not going</a>
      </div>
    </div>
          </div>
          <div class="col-sm">
    <div class="card" style="width: 14rem;">
      <img class="card-img-top" src="assets/bkk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Event 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Going</a>
        <a href="#" class="card-link">Not going</a>
        </div>
      </div>
    </div>
    </div>
    