

.btn btn-primary {
    color: white;
}



.row{
    padding: 400px;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}
#contactForm {
    margin-top: -1px
}

#contactForm .form-group label.control-label {
    color: #8c8c8c
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}
.modal-dialog{
    padding-top: 100px;
}
.modal-title{
    text-align: left;
}

.card{
height: 250px;
width: 500px;
background-color: rgba(235, 240, 235, 0.5) !important;
color: grey;
margin-top: 60px;
font-family: 'Oswald', sans-serif;
font-size: 19px;
text-align: center;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: blue;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #00abf6;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: blue;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.card1{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/opacity/see-through */
    color: black;
    font-size: 23px;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30%;
    
  text-align: center;
   margin-top: 215px;
   margin-left:250px;
   float: left;
   font-family: 'Oswald', sans-serif;
   padding-top: 10px;
   
}

.blur{
    background-image: url('/assets/blur.jpg');
    filter: blur(2px);
}


  .container {
    color: #fff;
    font-size: 48px;
    margin: 0 auto;
    padding: 25vh 0;
    text-align: center;
    width: 960px;
  }

  .col-sm{
      margin-left: 90px;
  }

  .underline1 {
    padding-bottom: 10px;
    border-bottom:lightgreen 5px solid;
  }

  .map {
    -webkit-filter: black(100%);
       -moz-filter: black(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

.info:hover {
    background: rgb(54, 33, 243);
    color: white;
  }
  .info {
    border-color: rgb(54, 33, 243);
    color:  rgb(54, 33, 243);
  }