    <p style="align-items:center;color: black;padding-top: 45px;text-align: center;font-family: 'Oswald', sans-serif ; font-size: 30px;   ">
        Con<span class="underline1">tact</span> Us <br><br>
    </p>
      
 <div class="col-sm" style="align-content: left;padding-left:10px;">

    <div class="card1" style="align-content: center;">
      <h3 style="color: black">GET IN TOUCH</h3><br>
      Amity Innovation Incubator<br>
      E3, 1st Floor<br>
      Amity University Noida<br>
      Uttar Pradesh - 201303<br>
      +918765467834<br><br>
      </div>  </div>
   <!-- contact form -->
   <div class="col-sm">
  <div class="card">
            
        <div class="card-body" >
                <form class="example-form" [formGroup]="AdminUserCreateForm">                
              <mat-form-field class="Name" >
                 <input matInput placeholder="Name" formControlName="Name" style="font-family: 'Oswald', sans-serif;color: black;" >
                </mat-form-field>
                &nbsp;
                <mat-form-field class="Email">
                 <input matInput placeholder="Email" type="email" formControlName="Email" style="font-family: 'Oswald', sans-serif;color: black;" >
                </mat-form-field><br>
                
                <mat-form-field class="subject">
                    <input matInput placeholder="Message" type="text" formControlName="subject" style="font-family: 'Oswald', sans-serif;color: black;" >
                   </mat-form-field>
                <mat-form-field class="Message">
                 <input matInput placeholder="" type="text" formControlName="Message" style="font-family: 'Oswald', sans-serif;color: black;" >
                </mat-form-field><br>
                <!-- <button mat-raised-button color="primary" type="submit" (click)="submittoDB()">Send message</button> -->
                <button class="btn info">Send Message</button>

                </form>
                
                </div>         
      </div>
  </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24379.627245566964!2d-8.407666514728884!3d40.19897616326834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1429696780951" width="1300" height="550" frameborder="0" style="border:0; margin-left: 90px; margin-right: 90px;" class="map"></iframe>

<!--Google Maps-->


