<nav class="fixed-nav-bar" >

<nav class="navbar navbar-expand-lg navbar-light static-top">

      <a class="navbar-brand" href="/">
            <img src="assets/inc.png" alt="" style="height: 115%; ">
          </a>
 
      <div class="collapse navbar-collapse" id="navbarResponsive" style="padding-top: 0px;">
        <ul class="navbar-nav ml-auto" style="font-size: 15px; font-family: arial">
          
          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
                STARTUPS
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/physical" (click)="next()">PHYSICAL INCUBATEES</a>
                <li class="divider"></li>
          
                <a class="dropdown-item" href="/virtual" (click)="next1()">VIRTUAL INCUBATEES</a>
                <li class="divider"></li>
          
                <a class="dropdown-item" href="/graduated" (click)="next2()">GRADUATED INCUBATEES</a>
          
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">EVENTS
                    </a>
              </li>


              <li class="nav-item dropdown">
                  <a class="nav-link" href="#"  data-toggle="dropdown">
                    OUR PROGRAMS
                  </a>
                  <div class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">ACCELERATED PROGRAM</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">HERSTATUPS</a></li>
                        <li class="dropdown-submenu">
                            <li><a tabindex="-1" href="#">Coming Soon</a></li>
                            <li class="dropdown-submenu">
                                <li><a tabindex="-1" href="#">Coming Soon</a></li>
                                <li class="dropdown-submenu">
                                    <li><a tabindex="-1" href="#">Coming Soon</a></li>
                                    <li class="dropdown-submenu">
                          
                      </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">INCUBATION PROGRAM</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">APPLAB</a></li>
                        <li class="dropdown-submenu">
                            <li><a tabindex="-1" href="#">STARTUPS</a></li>
                            <li class="dropdown-submenu">
                                <li><a tabindex="-1" href="#">STUDENT STARTUPS</a></li>
                                <li class="dropdown-submenu">
                          
                      </ul>
                    </li>                            
                  </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#"  data-toggle="dropdown">
                      Our Programs
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="/internship">Internship Program</a>
                      <li class="divider"></li>
                
                      <a class="dropdown-item" href="/incubator">Incubator Program</a>
                              
                    </div>
                  </li> -->

                
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">CONTACT</a>
          </li>
          <li class="nav">
            <a class="nav-link" >|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login"> LOGIN</a>
          </li>
        </ul>
      </div>
    
  </nav>
</nav>

<!-- <nav class="fixed-nav-bar">      
    <nav class="nav navbar-expand">

        <a class="navbar-brand" href="#"><img src="assets/inc.png" style="height: 40px; width: auto;"></a>

    
        <ul class="navbar-nav">

            
          
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Startups
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/physical" (click)="next()">Physical Incubatees</a>
      <li class="divider"></li>

      <a class="dropdown-item" href="/virtual" (click)="next1()">Virtual Incubatees</a>
      <li class="divider"></li>

      <a class="dropdown-item" href="/graduated" (click)="next2()">Graduated Incubatees</a>

    </div>
  </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/events">Events</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Our Programs
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/internship">Internship Program</a>
                <li class="divider"></li>
          
                <a class="dropdown-item" href="/incubator">Incubator Program</a>
                        
              </div>
            </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
      
          
        </ul>
    
      </nav>
      <br> -->
