<div class="container">

    <div class="col-sm-8" style="padding-top: 100px;">
      <i class='far fa-calendar-alt' style='font-size:40px; color: rgb(14, 9, 9);
      text-shadow: 1px 2px 2px #117da8; padding-bottom: 20px;'> Applab Launch Event Raipur
</i>
      <div class="avatar" style="margin-left: 35px;">
   
<p style="font-size: 20px; font-weight: 100; color: rgb(80, 80, 80);" > <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar> Organised by - Amity Innovation incubator</p>
</div>
    </div>
<div class="col-sm-4" style="padding-top: 100px; font-family: 'Oswald', sans-serif; font-size: 20px; ">This is a past Event.</div>

</div>



<div class="bk" style="background-color:rgb(240, 240, 240); padding-top: 20px;">
<div class="container" >
<div class="row">
  <div class="col-8" style="font-family: arial; font-size: 20px;">
     <h4 style="font-family: 'Oswald', sans-serif;"> Details : </h4>
      <p style="margin-left:20px; font-family: 'Oswald', sans-serif;">Applab Launch Event at Amity Raipur Campus
          <br>
     
      </p>
      <h4 style="font-family: 'Oswald', sans-serif; padding-bottom: 30px;">Attendees (30)</h4>
<div class="row" style="margin-left: 60px;  height: 60%; width: 50%; padding-bottom: 20px;">
    <ngx-avatar src="assets/avatar1.jpg"></ngx-avatar> &nbsp;&nbsp;
  
    <ngx-avatar src="assets/avatar2.jpg"></ngx-avatar> &nbsp;&nbsp;
    <ngx-avatar src="assets/avatar3.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar4.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar5.jpg"></ngx-avatar>&nbsp;&nbsp;
    <ngx-avatar src="assets/avatar6.jpg"></ngx-avatar>&nbsp;&nbsp;
  
  
    </div>
  
  </div>
  <div class="col-4">
    <div class="card" style="text-align: left;font-family: 'Oswald', sans-serif; ">
            <p style="font-size: 20px; margin-left: 20px;" ><i class="fa fa-clock-o" > Thursday, February 21, 2019, 9:00<br>
      &nbsp; &nbsp; AM to Saturday, February 23,&nbsp; &nbsp; &nbsp; 2019, 6:00 PM</i></p>
      <p style="font-size: 20px; margin-left: 20px; " ><i class="fa fa-map-marker" > Amity Innovation Incubator, Noida</i></p>

      <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
        <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
      </agm-map>
</div>
  </div>
</div>


</div>
</div>
<app-footer></app-footer>