<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Amity Gurugram, <br>
            Manesar Panchgaon <br>
            Haryana 122413</h5><br>
          <h6 class="card-subtitle mb-2 text-muted">+91 1234567891 </h6>
          <p class="card-text">info@ggn.amity.edu</p>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Amity Gurugram,<br> Manesar Panchgaon<br> Haryana 122413<br><br>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">+91 1234567891 </h6>
          <p class="card-text">info@ggn.amity.edu</p>
 
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Amity Gurugram,<br> Manesar Panchgaon<br> Haryana 122413<br><br></h5>
          <h6 class="card-subtitle mb-2 text-muted">+91 1234567891</h6>
          <p class="card-text"> info@ggn.amity.edu</p>
       
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Amity Gurugram,<br> Manesar Panchgaon<br> Haryana 122413<br><br></h5>
          <h6 class="card-subtitle mb-2 text-muted">+91 1234567891 </h6>
          <p class="card-text">info@ggn.amity.edu</p>
        
        </div>
      </div>
    </div>
    <div class="col"><div class="card" style="width: 18rem; height: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Amity Gurugram, <br>Manesar Panchgaon <br>Haryana 122413<br><br></h5>
        <h6 class="card-subtitle mb-2 text-muted">+91 1234567891</h6>
        <p class="card-text"> info@ggn.amity.edu</p>

      </div>
    </div></div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Amity Gurugram,<br> Manesar Panchgaon<br> Haryana 122413<br><br></h5>
          <h6 class="card-subtitle mb-2 text-muted">+91 1234567891</h6>
          <p class="card-text"> info@ggn.amity.edu</p>

        </div>
      </div>
    </div>

  </div>
</div>
